DB_HOST={{ db_host }}
DB_PORT={{ db_port }}
DB_NAME={{ db_name }}
DB_USER={{ db_user }}
DB_PASSWORD={{ db_password }}
DEBUG=False
SECRET_KEY={{ lookup('password', '/dev/null length=50') }}
ALLOWED_HOSTS=*
SITE_ROOT=http://{{ ansible_host }}